[submodule "tmux/tmux/plugins/vim-tmux-navigator"]
	path = tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "tmux/tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/tmux/plugins/tpm"]
	path = tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm
[submoduel "tmux/tmux/plugins/tmux"]
  path = tmux/plugins/tmux
  url = https://github.com/catppuccin/tmux
